.burger-container .burger {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Burger lines - the empty div in index.html */

.burger-container .burger>div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Top and bottom lines */
.burger-container .burger>div:before,
.burger-container .burger>div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves line down */
.burger-container .burger>div:after {
  top: 10px;
}

/* Toggler animate. I want to animate the burger not the checkbox */
.burger-container.active .burger>div {
  transform: rotate(135deg);
}

/* Turn lines into X */
.burger-container.active .burger>div:before,
.burger-container.active .burger>div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate on hover when checked */
.burger-container.active .burger>div {
  transform: rotate(90deg);
}

/*Show menu-from hidden to visible*/

#menu-list.active,
.subcategory:hover {
  visibility: visible;
}

#menu-list.active {
  /* transform: scale(1); */
  left: 0;
  opacity: 1;
  transition: opacity 0.4s ease;
}


/* mobile */
#menu-list {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100vh;
  top: 0;
  left: -300px;
  background: white;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  margin-top: 60px;
  padding: 10px 60px 40px;
  /* transform: scale(0); */
  transition: all 0.4s ease;
  opacity: 0.4;
  z-index: 1;
}

#menu-list li {
  list-style: none;
  font-size: 1.5rem;
  text-align: left;
  text-decoration: none;
  transition: color 0.4s ease;
  background: white;
  position: relative;
  display: block;
}

#menu-list li a {
  display: block;
  padding: 0 15px;
  color: black;
  text-decoration: none;
  line-height: 60px;
  font-size: 20px;
}

#menu-list ul {
  position: absolute;
  top: 60px;
  display: none;
}

#menu-list li:hover>ul {
  display: none;
}

#menu-list ul li {
  width: 150px;
  float: none;
  display: list-item;
  position: relative;
}

.art-link,
.art-link~ul li {
  border-left: 6px solid #5E81AC;
  height: 48px;
}

.music-link,
.music-link~ul li {
  border-left: 6px solid #A3BE8C;
  height: 48px;
}

.film-link,
.film-link~ul li {
  border-left: 6px solid #4C566A;
  height: 48px;
}

.literature-link,
.literature-link~ul li {
  border-left: 6px solid #EFBD59;
  height: 48px;
}

.theatre-link,
.theatre-link~ul li {
  border-left: 6px solid #BF616A;
  height: 48px;
}

.photo-link,
.photo-link~ul li {
  border-left: 6px solid #987A92;
  height: 48px;
}

.art-link:hover,
.art-link~ul li:hover {
  background: #5E81AC;
  color: white;
}

.music-link:hover {
  background: #A3BE8C;
  color: white;
}

.film-link:hover {
  background: #4C566A;
  color: white;
  z-index: 1000;
}

.subcategory_films:hover {
  background: #4C566A;
  color: white;
}

.literature-link:hover {
  background: #EFBD59;
  color: white;
}

.theatre-link:hover {
  background: #BF616A;
  color: white;
}

.photo-link:hover {
  background: #987A92;
  color: white;
}

.input_searchfield {
    float: left;
    padding: 6px;
    margin-top: 8px;
    margin-left: 8px;
    font-size: 12px;
    border-left: grey solid 1px;
    border-top: grey solid 1px;
    border-bottom: grey solid 1px;
    display: none;
}

.searchbutton {
    float: left;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 5px;
    background: white;
    font-size: 14px;
    opacity: 0.5;
    border: none;
    cursor: pointer;
}


.form_container {
    float: right;
    margin-top: 2px;
}



@media only screen and (min-width: 768px) {

  /* Hide the burger menu on PCs */
  .burger-container .toggler,
  .burger-container .burger {
    visibility: hidden;
  }

  /* Show the horizontal menu on PCs */
  .burger-container .toggler~.menu {
    visibility: visible;
    display: inline-block;
    overflow: visible;
  }

  /* Change the position of the logo */
  .logo {
    height: 100px;
    position: relative;
    display: inline-block;
    padding-top: 25px;
    padding-left: 20px;
      z-index: 99;
  }

    .input_searchfield {
    float: left;
    padding: 6px;
    margin-top: 8px;
    margin-left: 8px;
    font-size: 12px;
    border-left: grey solid 1px;
    border-top: grey solid 1px;
    border-bottom: grey solid 1px;

}

.searchbutton {
    float: left;
    padding: 6px 10px;
    margin-top: 40px;
    margin-right: 5px;
    background: white;
    font-size: 20px;
    opacity: 0.5;
    border: none;
    cursor: pointer;
}


.form_container {
    float: right;
    margin-top: 2px;
}


  #menu-list {
    width: 100%;
    visibility: visible;
    display: flex;
    flex-direction: row;
    position: absolute;
    height: auto;
    left: 0;
    background: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding: 20px 60px 30px;
    transition: all 0.4s ease;
    opacity: 1;
    z-index: 1;
  }

  /* Change the display of the submenu items */
  #menu-list>li {
    display: inline-block;
  }

  /* Show the submenu items on hover */
  #menu-list>li>a:hover {
    display: block;
    visibility: visible;
  }

  /* Show the submenu items on hover */
  #menu-list li:hover>ul,
  #menu-list li ul:hover {
    position: absolute;
    top: 48px;
    display: block;
    width: 100%;
    height: 100%;
  }

  .dropdown ul li .films_reviews:hover {
    color: blue;
  }
}
