*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;


}

.container {
    max-height: 760px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
    display: flex;
}

.burger-link {
    text-decoration: none;
}

.logo {
    padding: 0 0 0 80px;
    width: 260px;
    height: 60px;
    position: absolute;
    display: flex;
    top: 0;
    /*left: 92%;
    margin-left: 200px;*/
}


/*Home page style*/


.video {
    width: 122%;

}

.video-container {
    margin-top: 80%;
    margin-right: 18%;
}

.homequote_container {
    position: absolute;
    top: 35%;
    left: 65%;
    transform: translateX(-65%) translateY(-60%);
    text-align: center;
    z-index: -1;
    width: 100%;
    flex-direction: column;
    display: flex;
}

.quote-text {
    font-size: 18px;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    opacity: 0.5;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.quotecredit-text {
    font-size: 16px;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    opacity: 0.5;
}






/*Music interview style*/

.bio_text {
    position: relative;
    width: 750px;
    height: 650px;
    background-size: 100%;
    background-position: center;
    transition: 0.9s;

}

.audio_text {
    font-style: italic;
    font-weight: bold;
    align-items: center;
    font-size: 14px;
    border-top: 4px solid #EFBD59;
    border-right: 4px solid #A3BE8C;
    border-left: 4px solid #A3BE8C;
    padding-top: 11px;
    padding-left: 11px;
    padding-right: 11px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

}

.bio_text:hover {
    background-size: 110%;
}

.bio_text:after {
    content: attr(data-text);
    position: absolute;
    top: 93%;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    background-color: black;
    color: white;
    padding: 0 12px;
    opacity: 0.75;
    content: attr(data-text);
    transition: 0.5s;
    display: flex;
    justify-content: center;
}

.bio_text:hover:after {
    opacity: 0.5;
    top: 7%;
    padding: 12px;
    font-size: 26px;
    text-align: left;
    display: flex;
    justify-content: center;

}

/* I wanted to make Bio:Odekinys bold but it's not working */
.bio_text::first-line {
    color: white;
    font-weight: bold;
    font-size: 40px;

}

.frontimage {
    position: relative;
    left: 10%;
    margin-top: -30px;
    margin-left: -80px;
    padding: 45px 45px 45px 45px;
    justify-content: center;
}

.quote_container {

    font-size: 30px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 0 10px 0 10px;
    margin-top: 10%;
}

.interviews {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 50px;
    font-size: 1.3vw;
    display: inline-block;
    border: 2px solid #A3BE8C;
    opacity: 0.85;
    padding: 5px 5px 5px 5px;

}







/* film review style */

.reviews {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 50px;
    font-size: 1.3vw;
    display: inline-block;
    border: 2px solid #4C566A;
    opacity: 0.85;
    padding: 5px 5px 5px 5px;

}

.articlefilm_text {
    font-size: 20px;
    text-justify: inter-word;
}

.highlight_text {
    font-size: 18px;
    font-style: italic;
    text-align: center;
    border-top: 1px solid #4C566A;
    border-bottom: 1px solid #4C566A;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-width: medium;
    border-top-width: medium;
    padding-top: 7px;
    padding-bottom: 7px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.video_text {
    font-weight: bold;
}

.trailer {
    width: 340px;
    height: 190px;
}

.page_title {
    margin-top: 80px;
    margin-bottom: 10px;
    margin-left: 26px;
    font-size: 18px;
    display: inline-block;
    border: 2px solid #4C566A;
    opacity: 0.85;
    padding: 5px 5px 5px 5px;

}

.breadcrumbs {
    display: none;
}


.quote_film {
    font-size: 18px;
    font-style: italic;
    border-top: 4px solid #4C566A;
    padding-top: 15px;
}

.dateandauthor {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 5px 5px;
    margin-top: 5px;
    background-color: #f0f8ff;
    font-size: 16px;
    font-style: italic;

}

.image_credit {
    font-style: italic;
    font-weight: 100;
    text-align: center;
    padding-bottom: 5px;
    font-size: 12px;
}

.article-header {
    display: block;
    justify-content: center;


}

.wrapper_container {
    padding: 16px 20px 16px 20px;
    margin-top: auto;
    width: 95%;
    background-color: white;
    text-align: justify;
    line-height: 1.5;
    display: block;
}

.wrapperindex_container {
    padding-top: 60px;
    padding-right: 16px;
    padding-left: 16px;
}

.article_image {
    width: 100%;
    display: block;
    margin: auto;
}

/*HYPERLINKS and other links*/

.hiperlink {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;

}

.hiperlink:hover {
    color: black;
    background-color: transparent;
    border-bottom: 5px solid #fbe555;
    font-size: 18px;

}

.quote_art {
    border-top: 1px solid #4C566A;
    border-bottom: 1px solid #4C566A;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-width: medium;
    border-top-width: medium;
    padding-top: 7px;
    padding-bottom: 7px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: italic;
    font-weight: 400;

}



/*COMMENT FORM*/
.comment-form {
    width: 100%;
    max-width: 600px;
    float: right;
    top: 50%;
    left: 50%;
    justify-content: center;
    padding: 20px 20px;

}


.form-fields {
    width: 100%;


}

.form-fields .input {
    width: 100%;
    margin-bottom: 12px;
    padding: 15px 10px;
    box-sizing: border-box;
    background: white;
    outline-style: groove;

}

.form-fields .input .comment {
    height: 125px;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 15px;


}

.btn {
    background: #fbe555;
    color: black;
    height: 40px;
    text-align: center;
    float: right;
    border-radius: 30px;
    cursor: pointer;

}

.button_text {
    font-size: 18px;
    text-align: center;
    background: none;
    padding: 7px;

}

.footer_container {
    display: inline-block;
    justify-content: center;
    width: 110%;
    height: 200px;
    background: black;
    text-align: center;


}

/*SUBSCRIBE FORM*/
.email-box {
    height: 40px;
    display: flex;
    justify-content: center;

}

.email-box i {
    background: #fbe555;
    width: 38px;
    line-height: 40px;
    justify-content: center;
    padding: 0 9px;

}

.textbox,
btnsubscribe {
    border: none;

}

.textbox {
    width: 0px;
    padding: 0;
    border-right: 2px solid black;
    transition: 0.6s;
}

.email-box:hover > .textbox,
.textbox:focus {
    width: 260px;
    padding: 0 10px;
}

.btnsubscribe {
    background: #fbe555;
    color: black;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.newsletter {
    margin: 20px 0 20px 0;
    text-align: center;


}

.contact_form {
    width: 150px;
    display: inline-block;
    text-align: center;

}

/*WRITE US */


.btncontact {
    display: flex;
    font-size: 18px;
    height: 40px;
    justify-content: center;
    text-decoration: none;
    justify-content: center;
    border: 2px solid #5E81AC;
    border-radius: 15px;
    background: #5E81AC;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;

}

.btncontact:hover {
    background: transparent;
    color: #5E81AC;
}

/*SOCIAL MEDIA*/
.social_menu {
    position: absolute;
    display: inline-block;
}



.social_menu ul .fab {
    font-size: 25px;
    line-height: 20px;
    transition: .6s;
    color: gray;
    text-align: center;
    padding-top: 15px;

}

.icons {
    justify-content: center;
}

/* Styling the Photo Story page */
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    background: #000;
}

.heading:first-child {
    background: url (reinhart-julian-WxM465oM4j4-unsplash.jpg);
    background-size: cover;

}

.heading:last-child {
    background: url (simon-marsault-bDJOs9Th2GQ-unsplash.jpg);
    background-size: cover;

}

@media(min-width:768px) {


    .breadcrumbs {
        display: inline;
        margin-top: 15%;
        margin-right: 75px;
        text-align: right;
        float: right;
        border-top: 5px solid #4C566A;
        padding-top: 5px;
    }

    .breadcrumbs a {

        color: black;
        transition: color .12s ease-out;
        text-decoration: none;
        cursor: pointer;

    }

    .video-container {
        overflow: hidden;
        max-height: 640px;
        width: 100%;
        position: relative;
        align-content: center;
        padding: 0 130px;
        margin-top: 200px;
    }


    .quote-text {
        font-size: 30px;
        text-align: center;
    }

    .quotecredit-text {
        font-size: 20px;
        background-color: white;
        color: black;
        text-align: center;
        text-decoration: none;
        opacity: 0.5;
    }

    .homequote_container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        z-index: 1;
        width: 80%;

    }

    .image_credit {
        font-size: 16px;
    }

    .dateandauthor {
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding: 5px 5px;
        margin-top: 5px;
        background-color: #f0f8ff;
        font-size: 16px;
        font-style: italic;
        width: 70%;
        margin-left: 15%;

    }

    .trailer {
        width: 800px;
        height: 400px;
        align-content: center;
    }

    .comment-form {
        width: 100%;
        max-width: 600px;
        top: 50%;
        left: 50%;
        justify-content: center;
        padding: 50px 60px;

    }

    .page_title {
        margin-top: 20%;
        margin-bottom: 10px;
        margin-left: 85px;
        font-size: 2vw;
        display: inline-block;
        border: 2px solid #4C566A;
        opacity: 0.85;
        padding: 5px 5px 5px 5px;

    }

    .audio_text {
        font-style: italic;
        font-weight: bold;
        align-items: center;
        font-size: 14px;
        border-top: 4px solid #EFBD59;
        border-right: 4px solid #A3BE8C;
        border-left: 4px solid #A3BE8C;
        padding-top: 11px;
        padding-left: 11px;
        padding-right: 11px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }

    .quote_film {
        font-size: 18px;
        font-style: italic;
        border-top: 4px solid #4C566A;
        border-top-left-radius: 50px;
        padding-top: 15px;
    }

    .quote {
        font-style: italic;
    }

    .article-header {
        text-align: center;
        font-size: 18px;

    }

    .article_image {
        width: 70%;
        display: block;
        margin: auto;
    }

    .wrapper_container {
        padding: 16px 24px 16px 24px;
        background-color: white;
        width: 90%;
        line-height: 1.5;
        display: block;
    }

    .footer_container {
        display: flex;
        justify-content: space-around;
        width: 110%;
        height: 200px;
        background: black;
        align-items: center;


    }

}

/*
@media(max-width:768px) {
    .breadcrumbs {
        display: none;
    }

    .video-container {
        padding: 0;
    }

    .header-text {
    font-size: 3vw;

}
    .burger-container .menu {
        display: none;
    }
    .image_credit {
        font-size: 12px;
    }

   .page_title {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 50px;
    font-size: 2.5vw;
    display: inline-block;
    border: 2px solid #4C566A;
    opacity: 0.85;
    padding: 5px 5px 5px 5px;

}
}
*/


/*
@media only screen and (min-width:460px) {
    /*
    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #333;
        padding: 3rem;

    }*/


/*
    .comment-form {
        display: block;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding-bottom: 20px;

    }

     .content-container {
        width: 400px;
        display: block;
        flex-direction: column;
    }
*/
/*
    @media only screen and (min-width: 960px) {
        /*.footer_container {
            width: 100%;
            display: flex;
            flex-direction: column;
            background: #333;
            padding: 3rem;

        }*/

/*
        .comment-form {
            display: block;
            justify-content: center;
            padding-bottom: 20px;
            flex-direction: column;

        }


        @media screen and (max-width: 960px) {
            .comment-form {
                display: block;

            }

            .msg textarea {
                height: 80px;

            }

            .input-fields,
            .msg {
                width: 100%;
            }

           /*.footer_container {
                width: 100%;
                display: block;
                margin: 1% 50%;
            }*/



/*@media only screen and (min-width: 768px) {
    footer {
        width: 100%;
        display: block;
        margin: 1% 50%;
    }
}*/
